*{
   padding: 0;
   margin: 0; 
}
#mainhead{
    position:sticky !important;
    top: 0;
    z-index: 1000;
}


#contact a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 0.9rem;
    
}

#submenu a:hover{
    color:black !important;
}

.navbar-nav li{
   font-size: 0.9rem;
}
.carousel-item, .carousel-inner{
    min-height: 350px;  
}

#get_pro #pro_card{
    box-shadow: 0 0 2px black; 
}

#get_pro #pro_card:hover{
    box-shadow: 0 4px 9px black; 
}

#get_cart #carts{
    box-shadow: 0 0 2px black; 
}
#get_cart #carts:hover{
    box-shadow: 0 4px 9px black;
}
.nav-item a:hover{
    background-color: darkslategray;
}

#slide1{
    width: 100%;
    background-image: url('../imgs/bulb.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slide2{
    width: 100%;
    background-image: url('../imgs/wall.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slide3{
    width: 100%;
    background-image: url('../imgs/max.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


#cart_icon {
    position: relative;
    background-color: #3f5378;
    border-radius: 50px;
    font-size:0.6rem;
    top: -8px;
    left: -5px;
}
.sidecard{
    box-shadow: 0 0 2px black !important;
}
.sidecard:hover{
    box-shadow: 0 0 8px black !important;
}

.fa-shopping-cart{
    font-size: 0.8rem;
}
#msg_icon {
    position: relative;
    background-color: blueviolet;
    border-radius: 50px;
    font-size:0.6rem;
    top: -8px;
    left: -5px;
}

#image{
    text-align: center;
    background-image: url('../imgs/contact_us.jpg');
    background-position:center;
    width: 100%;
    height:350px;
}
/* #log{
    color: white;
    text-shadow: 0 5px #425274 ;
    padding-top:80px ;
    font-size: 60px;
    font-style: italic;
} */


#second #formss{
    padding-bottom:40px;
}

#message{
    resize: none;
}

.sidcat{
    font-size: 1.1rem;
}


@media screen and (max-width:767px){
    #topsearch{
        display: none;
    }

    #toplogin{
        display: none;
    }
    #submenu a{
        /* background-color: rgb(240, 246, 247) !important; */
        color: white !important;
    }

    #submenu a:hover{
        color: blue !important;
        background-color:white !important;
    }
}